      <div id="message-<%= message.id %>">
        <div class="d-flex flex-row align-items-around align-items-center">
          <div class="flex-fill">
            <%= message.content %>
          </div>
          <div class="flex-shrink-0 ps-3">
            <small>
              <i><%= message.created_at.strftime("%H:%M") %></i>
            </small>
          </div>
        </div>
      </div>
