<div class="banner-my-workouts" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://hult-center-assets.s3.amazonaws.com/uploads/2022/07/Running-WebBanner-2100x700-1-1800x600.jpg)">
  <div class="back-button">
    <%= link_to workouts_path do %>
      <div>
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
  </div>
  <h1>Add Workout</h1>
</div>
<div class="container-white mt-3 mx-3 mb-5 pb-3">
  <div class="">
    <%= render "form", workout: @workout %>
  </div>
</div>
<%= render "shared/navbar_footer" %>
