<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
    <%= link_to workouts_path do %>
      <div class="secondary-button">
        <i class="fa-solid fa-arrow-left"></i>
      </div>
    <% end %>
    <div class="form-login">
      <h2>Add a Workout</h2>
      <%= render "form", workout: @workout %>
    </div>
  </div>
</div>
<%= render "shared/navbar_footer" %>
