// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Let's Go Colour Scheme:

$fern-green: #537A5A;
$celadon: #9AE19D;
$gentle-gray: #E5E5E5;
$battleship-gray: #909590;
$outer-space: #474A48;
$jet: #2C302E;
