<div class="container">
  <h1>This is the booking show page</h1>

  <p><strong>Booking ID: </strong><%= @booking.id %><br>
  <strong>Date of booking: </strong><%= @booking.booking_date %><br></p>
</div>
<%= render "shared/navbar_footer" %>
