<div class="container">
  <div class="container-white">
    <h2>Chats</h2>

    <% @all_chats.each do |chat| %>
      <%= link_to booking_chat_path(chat.booking, chat.id), class: "text-decoration-none" do %>
        <div class="card-my-workouts">
          <p>Joined by: <%= chat.booking.user.first_name %>, hosted by: <%= chat.booking.workout.user.first_name %></p>
        </div>
      <% end %>
    <% end %>

  </div>
</div>

<%= render "shared/navbar_footer" %>
