<div class="banner-home hero-container" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(https://cdn.create.vista.com/api/media/medium/167048250/stock-photo-high-five?token=); background-size: cover; background-position: 30%;">
  <link href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap' rel='stylesheet' type='text/css'>
  <div class="d-flex flex-column">
    <div class="hero-container-text" class="animate fadeInLeft">
      <%= image_tag "Logo-green", class: "hero-logo-image", class: "animate fadeInLeft"%>
      <h4 class="animate fadeInLeft">Together stronger</h4>
      <br>
    </div>
    <div>

      <br>
      <br>
      <br>
      <p class="animate fadeIn delay">Let's Go helps you find a local workout buddy to motivate you to achieve your fitness goals, no matter what stage of your exercise journey you are at.</p>
    </div>
      <br>
      <br>
    <div>
      <%= link_to "Let's Go", workouts_path, class: "btn button-design animate fadeIn delay-long" %>
    </div>
  </div>
</div>

<div class="container-home align-items-center">
  <div class="container-testimonials">
    <div id="testimonials-carousel" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="5"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="6"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="7"></button>
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class=" testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03PRDJEMNG-c649a4eb21a3-512">
          </div>
          <div class="card-text">
          <div class="card-title">Energetic Ethan</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Ethan<br></span>
              <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U01HX4EMWG7-2882a4f4d121-512">
          </div>
          <div class="card-text">
          <div class="card-title">Lively Lukáš</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Lukáš<br></span>
            <span id="position">Chief at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03BCJ6HNP8-374030a92114-512">
          </div>
          <div class="card-text">
          <div class="card-title">Buff Borhan</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Borhan<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03BLPQSHA6-f3eb46882dab-512">
          </div>
          <div class="card-text">
          <div class="card-title">Legendary Luca</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Luca<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03BKK2DNLB-843021afbdb3-512">
          </div>
          <div class="card-text">
          <div class="card-title">Active Adrian</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Adrian<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U02KV2K84JJ-268a6271db86-512">
          </div>
          <div class="card-text">
          <div class="card-title">Fit Federico</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Federico<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U270KV1P1-7050c7bb6dc4-512">
          </div>
          <div class="card-text">
          <div class="card-title">Radiant Roel</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Roel<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-US6QFE890-85b527b32e1a-512">
          </div>
          <div class="card-text">
          <div class="card-title">Athletic Alán</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Alán<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U01CN5C70G0-e563e8371b12-512">
          </div>
          <div class="card-text">
          <div class="card-title">Mighty Meehir</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Meehir<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
    </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
    </div>
  </div>
</div>
