<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1513593771513-7b58b6c4af38?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80)">
  <div class="d-flex flex-column">
    <div>
      <h1>Let's Go</h1>
    </div>
    <div>
      <p>We are stronger together</p>
    </div>
    <div>
      <%= link_to "Get Started", workouts_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div class="container-home">
  <div class="container-home-text">
    <p>Let's Go helps you find a local workout buddy to motivate you to achieve your fitness goals, no matter what stage of your exercise journey you are at.</p>
  </div>
  <div class="container-home-text">
    <p>*****<br>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
    <p style="font-size: 12px"><em>-MotivatedMary</em></p>
  </div>
</div>

<div class="container-white">
<div class="container">
  <h2>Why Let's Go</h2>

  <h6>Community</h6>
  <p>Let's Go is the community-oriented exercise app. Where other exercise apps match users with a single buddy, Let's Go rewards users who work out with multiple buddies!</p>

  <h6>Reliable</h6>
  <p>Let's Go works so well because all user profiles are screened manually. Our team of employees closely monitor the app daily.</p>

  <h6>Secure</h6>
  <p>Your privacy comes first with us. You don't have to fill in anything that isn't necessary. Your data isn't sold and the whole app is secured with an SSL certificate.</p>
</div>
</div>
