<div>
  <div class="home-title">
    <h1 style="color: white; font-size: 72px; font-weight: bold">LET'S GO</h1>
    <h4 style="color: white">Find a local workout buddy</h4>
    <p> Find a local workout buddy to motivate you and give you the confidence to achieve your fitness goals. </p>
    <%= link_to "Let's Go", workouts_path, class: "button-design" %>
    </div>
  </div>
