<div class="banner-home hero-container" style="background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= asset_path "Lets_Go_homepage2.png" %>); background-size: cover; background-position: 40%;">
  <link href='https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap' rel='stylesheet' type='text/css'>
  <div class="d-flex flex-column">
    <br>
    <br>
    <div class="hero-container-text animate fadeInLeft">
      <%= image_tag "Logo-white.gif", class: "hero-logo-image" %>
      <h4>Together stronger</h4>
    </div>
    <div>
      <p class="animate fadeIn delay">Find a local workout buddy today to motivate you to achieve your exercise goals.</p>
    </div>
    <div>
      <%= link_to "Let's Go", workouts_path, class: "btn button-design animate fadeIn delay-long" %>
    </div>
    <div class="home-down-arrow">
        <i class="fa-solid fa-angle-down fa-3x arrow" style="color: white"></i>
    </div>
  </div>
</div>

<div class="container-home align-items-center">
  <div class="container-testimonials">
    <div id="testimonials-carousel" class="carousel slide" data-bs-ride="carousel" data-bs-wrap="true" data-bs-interval="4000">

    <!-- Indicators - without these carousel doesn't play -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="4"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="5"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="6"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="7"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="8"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="9"></button>
      <button type="button" data-bs-target="#testimonials-carousel" data-bs-slide-to="10"></button>
    </div>

    <!-- The carousel -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="testimonial-card">
          <div class="card-image">
            <img class=" testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03PRDJEMNG-c649a4eb21a3-512">
          </div>
          <div class="card-text">
          <div class="card-title">Energetic Ethan</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"Before I signed up to Let's Go, my dream of exercising more was just that, a dream! Now I exercise twice a week, meeting a different buddy from my local area each time."</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Ethan<br></span>
              <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U01HX4EMWG7-2882a4f4d121-512">
          </div>
          <div class="card-text">
          <div class="card-title">Lively Lukáš</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"As someone who always hated working out, I can confidently say Let's Go is a game-changer! I've made so many new workout buddies and now I love exercising!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Lukáš<br></span>
            <span id="position">Chief at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03BCJ6HNP8-374030a92114-512">
          </div>
          <div class="card-text">
          <div class="card-title">Buff Borhan</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"This is the first time in my life I've ever stuck with a workout routine. I started using Let's Go six weeks ago and haven't stopped!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Borhan<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03BLPQSHA6-f3eb46882dab-512">
          </div>
          <div class="card-text">
          <div class="card-title">Legendary Luca</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"I love every aspect of Let's Go. I'm getting fitter and fitter each week and feeling amazing! I'm making fantastic friends too!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Luca<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U03BKK2DNLB-843021afbdb3-512">
          </div>
          <div class="card-text">
          <div class="card-title">Active Adrian</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"I absolutely love Let's Go! It's great to interact with like-minded people who keep you motivated on your fitness journey!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Adrian<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U02KV2K84JJ-268a6271db86-512">
          </div>
          <div class="card-text">
          <div class="card-title">Fit Federico</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"This is quite possibly the BEST fitness app I have ever come across!!! I've made SO many amazing workout buddies!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Federico<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U270KV1P1-7050c7bb6dc4-512">
          </div>
          <div class="card-text">
          <div class="card-title">Ripped Roel</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
            </ul>"This is the best social fitness app out there! I'm seeing amazing results and making so many brand new friends! Win win!!!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Roel<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-US6QFE890-85b527b32e1a-512">
          </div>
          <div class="card-text">
          <div class="card-title">Athletic Alán</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"Being able to choose workouts in your local area as well as those that match your own personal fitness goals is incredible!"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Alán<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="testimonial-card">
          <div class="card-image">
            <img class="testimonial-user-img img-fluid d-flex mx-auto" src="https://ca.slack-edge.com/T02NE0241-U01CN5C70G0-e563e8371b12-512">
          </div>
          <div class="card-text">
          <div class="card-title">Mighty Meehir</div>
            <p><ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star fa-sm"></i></li>
              <li><i class="fas fa-star-half-alt fa-sm"></i></li>
            </ul>"This app has totally changed the way I exercise. Awesome experience! I've told all my coding friends to join the app. A+++"</p>
          </div>
          <div class="testimonial-footer">
            <span id="name">Meehir<br></span>
            <span id="position">Teacher at <a href="#">LeWagon.com</a></span>
          </div>
        </div>
      </div>
    </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#testimonials-carousel" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/kwynneellis/lets-go/"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-creators">
    Created by Rachel Jones, Kat Wynne-Ellis, Anthony Deadman & Becky Lomax at Le Wagon London.
  </div>
</div>
