.button-design {
  background-color: #537A5A;
  display: block;
  border: 1px solid transparent;
  box-shadow: 0 0.25px 0.25px 0 #474A48;
  color: black;
  padding: 15px 46px;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 20px;
  font-weight: 500;
  font-family: "Bebas Neue", "cursive";
  border-radius: 8px;
  letter-spacing: 2px;
  width: 75%;
  margin: 10px auto;
  p {
    margin-bottom: 0;
  }
}

.button-design-small-font
{
  background-color: #537A5A;
  display: block;
  border: 1px solid transparent;
  box-shadow: 0 0.25px 0.25px 0 #474A48;
  color: black;
  padding: 15px 46px;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 14px;
  font-weight: 500;
  font-family: "Bebas Neue", "cursive";
  border-radius: 8px;
  letter-spacing: 2px;
  width: 75%;
  margin: 10px auto;
  p {
    margin-bottom: 0;
  }
}

.button-design:hover {
  color: #2C302E;
  a {
    color: #474A48;
  }
}

.secondary-button {
  background-color: #909590;
  display: inline-block;
  border: 1px solid transparent;
  color: black;
  padding: 8px 12px;
  cursor: pointer;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 24px;
  font-weight: 500;
  font-family: "Bebas Neue", "cursive";
  border-radius: 8px;
  letter-spacing: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.secondary-button {
  i {
    color: #537A5A;
  }
}

.secondary-button:hover {
  i {
    color: #474A48;
  }
}

.log-out-button {
  background-color: #537A5A;
  border: 10px solid transparent;
  box-shadow: 0 0.25px 0.25px 0 #474A48;
  color: black;
  padding: 3px 3px;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 14px;
  font-weight: 500;
  font-family: "Bebas Neue", "cursive";
  border-radius: 8px;
  letter-spacing: 2px;
  width: 14%;
  top: 8px;
  bottom: 8px;
  right: 8px;
  margin-top: 50px;
  margin-bottom: -300px;
  margin-left: 5px;
  position: relative;
}

.update-my-profile-button {
  background-color: #537A5A;
  border: 0.1px solid transparent;
  box-shadow: 0 0.25px 0.25px 0 #474A48;
  color: black;
  padding: 5px 5px;
  cursor: pointer;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  font-size: 20px;
  font-weight: 250px;
  font-family: "Bebas Neue", "cursive";
  border-radius: 8px;
  letter-spacing: 2px;
  width: 30%;
  top: 8px;
  right: 8px;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 5px;
  z-index: -1;
}

.btn-ghost {
  color: #2C302E;
  border: 1px solid #474A48;
  padding: 2px 8px;
  border-radius: 50px;
  margin: 4px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
