.card-workout {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  border-radius: 4px;
}

.card-workout img {
  height: 160px;
  width: 100%;
  object-fit: cover;
}

.card-workout h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-workout p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-workout .card-workout-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  color: #474A48;
}

.card-workout-infos .card-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: 64px;
  right: 0.5rem;
  border-style: solid;
  border-color: white;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}

.card-my-workouts {
  overflow: hidden;
  margin: 8px;
  height: 80px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.card-my-workouts .user-image {
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.card-my-workouts h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-my-workouts p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-my-workouts .card-my-workouts-info {
  padding: 16px;
}

.duration-pill-box {
  background-color: white;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: black;
  border: 1px solid black;
  padding: 2px 8px;
  border-radius: 50px;
  margin: 4px;
  font-weight: lighter;
}

i-calendar {
  margin-right: 10px;
}

i-pin {
  margin-right: 16px;
}

i-clock {
  margin-right: 8px;
}
