.container-white {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

.container-white-workouts-list-search {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

.container-white-workouts-list-filter {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

.container-white-map-page-search {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 6px;
  margin-left: 2px;
  margin-right: 2px;
}

.container-white-map-page {
  background-color: white;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.container-yellow {
  background-color: $yellow;
  padding: 8px;
  margin-top: 12px;
  border-radius: 8px;
  color: $success;
}

.container-content {
  margin: 0 auto;
  padding: 12px 12px;
  border-bottom: $battleship-gray 0.5px solid;
  p, h1, h2, h3, h4, h5 {
    margin: 0;
  }
}

.container-workouts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin: 20px auto;
  margin-bottom: 90px;
}

@media(max-width: 992px) {
  .container-workouts {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container-workouts {
    grid-template-columns: 1fr;
  }
}

.container-home {
  background-color: #537A5A;
  width: 100%;
  height: 610px;
}

.container-home-text {
  width: 70%;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding-top: 12px;
}

.mapboxgl-canvas-container{
  height: 100%;
}
