.container-workouts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin: 20px auto;
}

@media(max-width: 992px) {
  .container-workouts {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .container-workouts {
    grid-template-columns: 1fr;
  }
}

.container-home {
  background-color: #537A5A;
  width: 100%;
  height: 332px;
}

.container-home-text {
  width: 70%;
  text-align: center;
  color: white;
  margin: 0 auto;
  padding-top: 12px;
}
