.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-bordered {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-bordered-user-profile {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-image {
  background: linear-gradient(#91AA95,lightgrey);
  background-position: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
