.message-row {
  padding: 4px 8px;
}

// To style the message itself
.sender-style, .receiver-style {
  border-radius: 4px;
  padding: 8px;
  max-width: 80%;
}

.sender-style {
  background-color: #E5E5E5;
}

.receiver-style {
  background-color: #E5E5E5;
}
