.footer-icons {
  align-items: center !important;
  flex-direction: column !important;
  max-width: 20% !important;
  padding: 0px 2px !important;
  text-decoration: none !important;
  text-align: center !important;
  p {
    margin: 0;
    text-decoration: none !important;
    font-size: 1em;
  }
}

#fcontain{
  width:100%;
  background:white;
  opacity:0.9;
  left:-0%;
  margin-top:6%;
  border-top: 1px solid gentle-gray !important;
  position: fixed !important;
  bottom: -60px !important;
  height: 125px !important;
  left: 0px !important;
  right: 0px !important;
  padding-bottom: 60px !important;
  z-index: 1 !important;
  text-decoration: none !important;
}
 #footer .column {
  opacity: 1;
  flex: 1 0 auto !important;
  align-items: flex-start !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0px auto !important;
  max-width: 560px !important;
  text-decoration: none !important;
}
 #footer .column div{
 margin: 1%;
 height: 100%;
 background: white;
 opacity: 0.8;
 width: 20%;
 float: left;
 position: static;
 text-decoration: none !important;
}
