.container-testimonials {
  // margin-bottom: 50px;
  max-width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
}
.testimonial-card{
  border-radius: 1rem;
  background-color: white;
  border-color: #537A5A;
  box-shadow: 0px -10px 0px #537A5A(151, 248, 6);
}
@media(max-width:767px){
  .testimonial-card{
      margin: 1rem 0.7rem 1rem;
      max-width: 80vw;
  }
}
.testimonial-user-img{
  width: 6.2rem;
  border-radius: 5rem;
  margin: 1.3rem auto 1rem auto;
}
.card-image{
  padding: 0.5rem 0 0.5rem 0;
}
.card-title{
  font-size: 1rem;
  margin-bottom: 0;
  font-weight: bold;
  font-family: 'Bebas Neue', 'cursive';
}
.card-text{
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 0rem 2rem;
  font-size: 0.8rem;
  color: #2C302E(82, 81, 81);
  line-height: 1.4rem;
}
.testimonial-footer{
  border-top: none;
  text-align: center;
  line-height: 1.2rem;
  padding: 0rem 0 1.4rem 0;
  font-family: 'Lato', 'sans-serif';
  margin-bottom: 10rm;
}
#name{
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
#position{
  font-size: 0.7rem;
}
a{
  color: #537A5A(151, 248, 6);
  font-weight: bold;
}
a:hover{
  color: #537A5A(151, 248, 6);
}
